<style type="text/css">
    body {
        background: transparent;
    }
</style>

{% if appKey %}
    <div>
        {{ appKey.key }}
        {{ configureForm | raw }}
    </div>
{% else %}
    <div>
        <div class="alert alert-danger">Please generate api key first</div>
    </div>
{% endif %}