<style type="text/css">
    body {
        background: transparent;
    }
</style>

<div>
    <div class="form-group">
        <label>Client .p12 certificate</label>
        <div>
            <input type="file" class="form-control"/>
        </div>
    </div>

    <div class="form-group">
        <label>Client .pem certificate</label>
        <div>
            <input type="file" class="form-control"/>
        </div>
    </div>

    <div class="form-group">
        <label>Client server certificate</label>
        <div>
            <input type="file" class="form-control"/>
        </div>
    </div>

    <div class="form-group">
        <label>Certificate password</label>
        <div>
            <input type="password" class="form-control"/>
        </div>
    </div>

    <div class="form-group">
        <div>
            <button class="btn btn-success">Securely save data</button>
        </div>
    </div>
</div>