{% extends 'Pckg/Generic/View/frontend.twig' %}

{% block content %}
    <h1>pendo.foobar.si</h1>
    <p>Fiscalization service for SI (FURS - Finančna uprava Republike Slovenija) and HR (PURH - Porezna uprava Republike
        Hrvatske).</p>

    <p><b>Fiscalize your bills in few simple steps</b></p>
    <ul>
        <li>Signup to /pendo <a href="#">here</a> or login <a href="#">here</a></li>
        <li>Get /pendo API key if you want to make integration of service in your app - <a
                    href="https://github.com/pckg-app/pendo-api" target="_blank" title="/pendo PHP API">here's /pendo
                PHP API</a>
        </li>
        <li>Register your business by entering company details - via API call or in /pendo dashboard</li>
        <li>Start fiscalizing your orders in dashboard or via API call</li>
    </ul>

    <p>Service is <b>free</b> for first 1000 requests per month. For unlimited usage please contact our team at
        pendo@foobar.si.</p>

    <p><b>All features</b></p>
    <ul>
        <li>Make create, credit, storno and correction requests for your orders</li>
        <li>Simple interface for transactions review</li>
        <li>Export transactions limited by date</li>
    </ul>

    <p><b>API endpoints</b></p>
    <ul>
        <li><span class="label label-info">POST</span> /api/invoice/create - create new invoice - send only datetime, invoice identifier, platform identifier, invoice price, payment price and taxes</li>
        <li><span class="label label-info">GET</span> /api/fiscalizations - list transactions</li>
    </ul>

    <p><b>Currently supporting</b></p>
    <ul>
        <li><a href="http://www.fu.gov.si/" target="_blank">Finančna uprava Republike Slovenija</a></li>
        <li><a href="https://www.porezna-uprava.hr/Stranice/Naslovnica.aspx" target="_blank">Porezna uprava Republike
                Hrvatske</a></li>
    </ul>

    <p><b>Trusted by</b></p>
    <ul>
        <li><a href="https://comms.dev" target="_blank">Comms - comms.dev</a></li>
        <li><a href="https://mailo.foobar.si" target="_blank">/mailo - mailo.foobar.si</a></li>
    </ul>
{% endblock %}