{% extends 'Pckg/Generic/View/frontend.twig' %}

{% block content %}
    <h1>pendo.foobar.si</h1>
    <p>Fiscalization service for SI (FURS - Finančna uprava Republike Slovenija) and HR (PURH - Porezna uprava Republike
        Hrvatske).</p>

    <p><b>Fiscalize your bills in few simple steps</b></p>
    <ul>
        <li>Signup to Pendo <a href="#">here</a> or login <a href="#">here</a></li>
        <li>Get Pendo API key if you want to make integration of service in your app - <a href="#">here's</a> Pendo's
            PHP API
        </li>
        <li>Register your business by entering company details - via API call or in dashboard</li>
        <li>Start fiscalizing your orders in dashboard or via API call</li>
    </ul>

    <p>Service is <b>free</b> for first 1000 requests per month. For unlimited usage please contact our team at
        pendo@foobar.si.</p>

    <p><b>All features</b></p>
    <ul>
        <li>Make creation, credit, storno and correction requests for your orders</li>
        <li>Simple interface for transactions review</li>
        <li>Export transactions limited by date</li>
    </ul>

    <p><b>Currently supporting</b></p>
    <ul>
        <li><a href="http://www.fu.gov.si/" target="_blank">Finančna uprava Republike Slovenija</a></li>
        <li><a href="https://www.porezna-uprava.hr/Stranice/Naslovnica.aspx" target="_blank">Porezna uprava Republike
                Hrvatske</a></li>
    </ul>

    <p><b>Trusted by</b></p>
    <ul>
        <li><a href="https://startcomms.com" target="_blank">/maestro - startcomms.com</a></li>
        <li><a href="https://mailo.foobar.si" target="_blank">/mailo - mailo.foobar.si</a></li>
    </ul>
{% endblock %}