name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      #- uses: borales/actions-yarn@v2.0.0
      #- uses: actions/cache@v2

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v2
        with:
          path: vendor
          key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-

      #- name: Cache NPM packages
      #  id: npm-cache
      #  with:
      #    path: node_modules
      #    key: ${{ runner.os }}-npm-${{ hashFiles('**/composer.lock') }}
      #    restore-keys: |
      #      ${{ runner.os }}-npm-
      #          #yarn install --production --silent

      - name: Install dependencies
        run: composer install --no-dev --prefer-dist --no-progress --no-suggest --optimize-autoloader --ignore-platform-reqs

      - name: Build the Docker image
        run: |
          mkdir ~/.docker
          touch ~/.docker/config.json
          echo "${DOCKER_HUB_JSON} > ~/.docker/config.json
          cat ~/.docker/config.json

          docker build -t registry.digitalocean.com/pckg-app/pendo:$GITHUB_SHA .
          docker push registry.digitalocean.com/pckg-app/pendo:$GITHUB_SHA

          curl -d repository=https://github.com/$GITHUB_REPOSITORY.git -d branch=$GITHUB_BRANCH -d PCKG_BUILD_ID=$GITHUB_SHA http://condo.foobar.si/webhook